@import "tailwindcss";

@import "./theme.base.css";
@import "./theme.light.css";
@import "./theme.dark.css";
@import "./globals.css";
@import '@/assets/flags/flags.css';

@layer base {
    body {
        font-family: var(--font-body);
        background-color: var(--bg);
        color: var(--text);
    }
}
