<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>{{ .PageTitle }} :: {{.AppName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <style>
    a:hover {
      text-decoration: underline;
    }
  </style>
    {{ .HeadExtra }}
    </head>
    <body>
      <div style="font-family: Arial, sans-serif; background-color: #f6f6f6; margin: 0; color: #333333; font-size: 16px; line-height: 1.6; padding: 2rem 0;">
        <div style="max-width: 600px; margin: 30px auto; background: #fcfcfc; border-radius: 1rem; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
          <div style="background-color: #ffffff; color: #1f2937; text-align: left; padding: 20px 25px;border-bottom: 1px solid #e5e7eb;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                <td style="vertical-align: middle; width: 60px;">
                  <img src="cid:{{ .logoCID }}" alt="{{ .AppName }} Logo" style="display: block; width: 60px; height: 60px; border-radius: 8px;">
                </td>
                <td style="vertical-align: middle; padding-left: 15px;">
                  <div style="font-size: 20px; font-weight: bold; margin: 0;">{{ .AppName }}</div>
                  <div style="font-size: 16px; margin-top: 4px;">{{ .Header }}</div>
                </td>
              </tr>
            </table>
          </div>

          <div class="content" style="font-family: Arial, sans-serif; color: #1f2937; font-size: 16px; line-height: 1.6; padding: 30px;">{{ .Content }}</div>
          <div style="font-size: 12px; color: #4b5563; background-color: #ffffff; text-align: center; padding: 20px;border-top: 1px solid #e5e7eb;box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);">
          © {{ .Year }} {{ .AppName }}
          </div>
        </div>
      </div>
    </body>
</html>

